.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  padding-top:2em;
}

.toc-container {
  order: 1;
}

.content-container, .scripture-container {
  font-family: 'Droid Serif', serif;
  order: 2;
}

.content-container{
  padding-left:3em;
}

ul.versesblock li {
  position: relative;
  display: block;
  margin-bottom: .3em;
}

div.chapterheading {
  font-size: 14pt;
  font-weight: bold;
  padding: .5em;
  text-align: center;
  line-height: 1.2;
}

div.navheading {
  font-size: 13pt;
  text-align: center;
}

.volumetitle{
  display:block;
}

ul.volumecontents li {
  display: block;
}

.volumecontents {
  min-width: 180px;
}
