.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  padding-top:2em;
}

.toc-container {
  order: 1;
  min-width: 220px;
}

.content-container, .scripture-container {
  font-family: 'Droid Serif', serif;
  order: 2;
}

.content-container{
  padding-left:3em;
}

ul.versesblock li {
  position: relative;
  display: block;
  margin-bottom: .3em;
}

div.chapterheading {
  font-size: 1.9em;
  font-weight: bold;
  padding: .5em;
  line-height: 1.2;
}

div.navheading {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.volumetitle {
  display:block;
}

ul.volumecontents li {
  /*display: block;*/
  margin-left: -1.5em;
}

#talkPhoto {
  padding: 1px;
  background-color: white;
  border: 1px solid #9ea0a2;
  box-shadow: 2px 4px 13px #bbb;
  margin-bottom: 1em;
}

p.intro {
  font-size: 0.9em;
}
